body {
    background-color: rgba(250, 146, 41, 0.6);
    font-size: 18px;
    font-family: 'Quattrocento', serif;
    color: #fff;
}

#header-nav{
    background-color: rgba(66, 126, 217, 0.9);
    border: 0;
    border-radius: 0;
}